@media (width < 700px) {
    .img {
        width: 200px;
    }
}
@media (width > 700px) {
    .img {
        width: auto;
    }
}
body
{
    background-color: antiquewhite;
    color: #333A73;
    font-size: 23px;
    line-height: 25px;
    text-align: justify;
    font-family: "roboto condensed";
}

.nav
{
    display: flex;
    align-items: center;
    width: 100%;
    
    justify-content: space-between;
    margin-right: 50px;
    padding-left: 0px;
    background-color: rgb(250, 235, 215);
}

nav ul li
{
    
    display: inline-block;
    margin-left: 40px;
    list-style: none;
    font-size: 30px;
    font-weight:700;
}
.a1
{
    text-decoration: none;
    color: #333A73;
}
.bar
{
    background-color: darkorange;
    height: 20px;
    width:100%;
}