
*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body
{
    background-color: antiquewhite;
    color: #333A73;
    font-size: 23px;
    line-height: 25px;
    text-align: justify;
    font-family: "roboto condensed";
}
.hero
{
    width: 100%;
    height: 100vh;
    position: relative;
    align-items: center;
}
@media (width < 700px) {
    .img {
        width: 200px;
    }
}
@media (width > 700px) {
    .img {
        width: auto;
    }
}
.nav
{
    display: flex;
    align-items: center;
    width: 100%;
    
    justify-content: space-between;
    margin-right: 50px;
    padding-left: 0px;
    background-color: antiquewhite;
    font-size: 30px;
}

nav ul li
{
    
    display: inline-block;
    margin-left: 40px;
    list-style: none;
    font-size: 30px;
    font-weight: 800;
    padding-right: 20px;
}

.nav:hover
{
    height: 160px;
}

.img
{
    padding-top: 3px;
    padding-left: 10px;
    width: 300px;
}
.nb2
{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-left: 500px;
    
}
.navbox2
{
    
    align-items: center;
    justify-content: space-between;   
    padding-top: 10px;
    padding-right: 30px;
    padding-left: 700px;
    margin-left: 0px;
    font-size: 23px;
}
.a1
{
    text-decoration: none;
    color: #333A73;
}
.a1:hover
{
    
    font-size: 27px;
    font-style: italic;
    text-decoration: underline; 
    font-weight: 900;
}
.a1:active
{
    color: darkorange;
}
.bar
{
    height: 10px;
    width: 100%;
    background-color: darkorange;
    margin: 0px;
    padding: 0px;
}

.vid1
{
    height: 100%;
    width: 100%;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
@media (min-aspect-ratio: 16/9)
{
    .navbox2
    {
        width: 100%;
        height: auto;
    }
}
@media (min-aspect-ratio: 16/9)
{
    .navbox2
    {
        width: auto;
        height: 100%;
    }
}

.footer
{
    display: flex;
    position:;
    justify-content:space-between;
    
    height:100px;
    width: 100%;
    background-color: antiquewhite;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 25px;
    text-decoration: none;
}

.a2
{
    text-decoration: none;
    color: darkorange;
    font-style: bold;
}
.li1
{
    padding-top: 10px;
    
    list-style:none;
    font-size: 15px;
}
.li1:hover
{
    font-size: 20px;
}

.fbox1
{
    position;
    padding-left: 0px;
    font-size: 27px;
    font-weight: bold;
    
}
.fbox2
{
    position;
    padding-left: 0px;
    font-size: 27px;
    font-weight: bold;
}
.fbox3
{
    position;
    padding-left: 0px;
    font-size: 27px;
    font-weight: bold;
}

.hr
{
  margin-top: 200px;
  padding: px;
  width: 100%;
  font-size: 25px;
  color: #333A73;
}

/* About Us Page*/
.art1
{
    margin-top: 0px;
    margin-left: 0px;
    padding-top: 40px;
    
    justify-content: center;
    align-items: center;
    height: ;
    width: 100%;
}
article h1
{
    background-color: darkorange;
    height: 50px;
    padding-top: 10px;
}
.box1
{
    display: flex;
    justify-content: justify;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.p1
{
    padding-left: 10px;
    padding-top: 10px;
    border-bottom: solid;
    border-radius: 2%;
    border-color: darkorange;
    font-weight: 400;
}
.box2
{
    display: flex;
    justify-content: justify;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.p2
{
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    border-bottom: solid;
    border-radius: 2%;
    border-color: darkorange;
    font-weight: 400;
}
.box3
{
    display: flex;
    justify-content: justify;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.p3
{
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    border-bottom: solid;
    border-radius: 2%;
    border-color: darkorange;
    font-weight: 400;
}
.box4
{
    display: flex;
    justify-content: justify;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.p4
{
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    border-bottom: solid;
    border-radius: 2%;
    border-color: darkorange;
    font-weight: 400;
}
.box5
{
    display: flex;
    justify-content: justify;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.p5
{
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    border-bottom: solid;
    border-radius: 2%;
    border-color: darkorange;
    font-weight: 400;
}
.box6
{
    display: flex;
    justify-content: justify;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.p6
{
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    border-bottom: solid;
    border-radius: 2%;
    border-color: darkorange;
    font-weight: 400;
}