
*
{
    margin: 0px;
    padding: 0px;
}
.nav
{
    display: flex;
    background-color: rgb(250, 235, 215);
    height: 140px;
    width: 100%;
    
}
.nav:hover
{
    height: 160px;
}

.img
{
    padding-top: 3px;
    padding-left: 10px;
    width: 1000px;
}
.navbox2
{
    display: flex;
    width: 500px;
    justify-content: space-between;   
    padding-top: 50px;
    padding-right: 30px;
    padding-left: 10px;
    font-size: 23px;
}
   

.list:hover
{
    font-size: 27px;
    font-style: italic;
    text-decoration: underline; 
}
.list:active
{
    color: darkorange;
}
.bar
{
    height: 10px;
    width: 100%;
    background-color: darkorange;
}
.a1
{
    text-decoration: none;
    color: black;
}
.vid1
{
    
    height: 120vh;
    
}



